In [1]:
import pandas as pd

master = pd.DataFrame(columns = ['link','location','size','tier','price'])
master['link'] = [item for item in range(50)]
master['location'] = ['most', 'popular', 'given', 'names', 'for', 'male', 'and' ,'female','babies','happy','most', 'popular', 'given', 'names', 'for', 'male', 'and' ,'female','babies','happy','most', 'popular', 'given', 'names', 'for', 'male', 'and' ,'female','babies','happy','most', 'popular', 'given', 'names', 'for', 'male', 'and' ,'female','babies','happy','most', 'popular', 'given', 'names', 'for', 'male', 'and' ,'female','babies','happy']
master['size'] = [item for item in range(50)]
master['tier'] = [0,1,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5,0,1,2,3,4,5]
master['price'] = [item for item in range(50)]

In [2]:
bin_names = ['very_small','small','medium','large','very_large']
master
master['size_bins'] = pd.cut(master['size'],5,labels = bin_names)

In [3]:
master
grouped = master.groupby(['location','size_bins','tier']).agg({"price":'mean'}).reset_index()
grouped.head()

  location   size_bins  tier  price
0      and  very_small     0    NaN
1      and  very_small     1    NaN
2      and  very_small     2    NaN
3      and  very_small     3    NaN
4      and  very_small     4    6.0

In [4]:
def row_checker(row):
    for comb in grouped:
        if (comb['location'] == row['location']) and (comb['size_bins'] == row['size_bins']) and (comb['tier'] == row['tier']):
            return comb['price']
        else:
            pass

In [5]:
#master['average_price'] = master.apply(row_checker, axis = 1)

In [6]:
new_df = pd.merge(master, grouped,  how='inner', left_on=['location','size_bins','tier'], right_on = ['location','size_bins','tier'])

In [7]:
useful_df = new_df[['link','location','size_bins','tier','price_x','price_y']]

In [8]:
useful_df.rename(columns = {'price_x':'price','price_y':'average_price'}, inplace = True)
useful_df.head()

/usr/local/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   link location   size_bins  tier  price  average_price
0     0     most  very_small     0      0            0.0
1     1  popular  very_small     1      1            1.0
2     2    given  very_small     0      2            2.0
3     3    names  very_small     1      3            3.0
4     4      for  very_small     2      4            4.0

In [9]:
useful_df['profitability'] = useful_df['average_price']-useful_df['price']
useful_df = useful_df.sort_values(by = ['profitability'],ascending = False)
useful_df.head()
#useful_df = useful_df[useful_df['profitability'] != 0]

    link location   size_bins  tier  price  average_price  profitability
0      0     most  very_small     0      0            0.0            0.0
37    37   female       large     5     37           37.0            0.0
27    27   female      medium     1     27           27.0            0.0
28    28   babies      medium     2     28           28.0            0.0
29    29    happy      medium     3     29           29.0            0.0

In [10]:
useful_df['link'].head(10)

0      0
37    37
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
Name: link, dtype: int64